<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %>!</title>
</head>
<body>
    <h1>Welcome to <%= title %>!</h1>

    <section>
        <h3>Personal Information</h3>
        <p>Name: </p>
    </section>
</body>
</html>